{% extends "base.html" %}
{% block content %}

<div style="margin-left: 50px; margin-right : 50px; background-color: rgba(255,255,255,0.5); height: 100% ">
    <h1 style="text-align: center"> Stats </h1>  
    <h2> Friend : {{friends}} </h2> 
    <h2> Feed : {{feed}} </h2> 
</div>
{% endblock %}