{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Friends</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/add_friend.css' %}" />
	
</head>
<body>
<section class="media container">
	<img class="title" src="{% static 'image/maintitle.png' %}" alt="Generic placeholder image" style="width:450px;height:200px;">
</section>

<hr/>
<section name="input-friend" id="input-friend">
    <div class="container">
        <form id="form" method="POST" action="{% url 'add_friend:add_friend' %}">
            <h2>Connect with Your Friend</h2>
            {% csrf_token %}
            {{ friend_form }}
            <br>
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Add Friend">
        </form>
    </div>
</section>

<section name="friend" id="friend">
   	<div class="container">
   	<h2 class="friend-title">Friends</h2>
  	<table class="table">
        <thead>
            <th>Name</th>
            <th>URL</th>
            <th>Date</th>
        </thead>
        <tbody>
            
            {% for i in friend %}
            <tr class="success">
                <td> {{i.name}} </td>
                <td><a href="{{ i.url }}"> {{i.url}} </a></td>
                <td> {{i.date}} </td>
            </tr>             
            {% endfor %}
        </tbody>
    </table>
	</div>
</section>

<!-- Print errors if any -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <!-- List all previous status -->
    <div class="container stasuses">
        {% for i in status reversed %}
            <div class="flex-item">
                <h5> {{ i.user.name }} </h5>
                {{ i.friend }} <br/>
                <sub> {{ i.date }} </sub>
            </div>
        {% endfor %}
    </div>

</body>
</html>